extends layout/main.pug

block content
   .guest-profile
        .guest-profile__header
            img.g-avatar(src=`/${user.avatarUrl}`)
            h4.profile__username=user.name
            h5.profile__usercountry=user.country
        if user.id === loggedUser.id
            .guest-profile__btns
                a(href=`/guests${routes.editProfile}`)
                    button 🔨 Edit Profile
                a(href=`/guests${routes.changePassword}`)
                    button 🔒 Change Password