mixin imageBlock(labelTitle, imgId, inputName)
  label.imgLabel(for=inputName )=labelTitle
  img.preview-img.hidden(src="" class=imgId)
  input.imgInput(type="file" name=inputName id=inputName occept="image/*")

mixin imageListBlock(num)
  input(type="file" id=`fileElem-${num}` name="coursePhoto" style="display:none")
  label(href="#" id=`fileSelect-${num}` class="imgLabel") 📸Photo
  div(id=`fileList-${num}`)
